body {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    border-right: solid;
    background-color: rgb(212, 207, 207);;
}

.navbar header {
    text-align: center;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: gray;
    padding: 6.7px 20px;
}

#main-doc {
    background-color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 25px;
    color: black;
    padding: 30px;
    margin: 0 0 0 300px;
}